<div class="uk-section uk-section-primary uk-padding-remove-bottom uk-padding-remove-top">
    <div class="uk-container uk-text-center">
        <hr class="uk-margin-remove-bottom uk-margin-medium-top">
        <div class="uk-margin-top uk-margin-bottom">
            <div uk-grid="" class="uk-child-width-auto@m uk-flex-middle uk-grid">
                <div class="uk-first-column">
                </div>
                <div class="uk-margin-auto">
                    <ul uk-margin="" class="uk-subnav uk-flex-center">
                        <li><a target="_blank" href="">产品介绍</a></li>
                        <li><a target="_blank" href="/showcase">案例展示</a></li>
                        <li><a target="_blank" href="https://getuikit.com/changelog">更新日志</a></li>
                    </ul>
                </div>
                <div>
                    <div class="uk-text-right@m uk-text-center">
                        <div uk-grid="" class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                            <div class="uk-first-column">
                                <a target="_blank" href="https://github.com/uikit/uikit" uk-icon="icon: github" class="uk-icon-link uk-icon"></a>
                            </div>
                            <div>
                                <a target="_blank" href="https://discordapp.com/invite/NEt4Pv7" uk-icon="icon: commenting" class="uk-icon-link uk-icon"></a>
                            </div>
                            <div>
                                <a target="_blank" href="https://twitter.com/getuikit" uk-icon="icon: twitter" class="uk-icon-link uk-icon"></a>
                            </div>
                            <div>
                                <a target="" href="https://www.facebook.com/getuikit" uk-icon="icon: facebook" class="uk-icon-link uk-icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
